body{
  background-image: url('background.jpg');
  font-family: 'Cabin', sans-serif;
}

.navbar{
  background-color: #EEEEEE;
}

/*.search-bar{
  background-color: #EEEEEE;
}*/

.jumbotron{
  border-radius: 10px;
  width: 95%;
  min-height: 250px;
  margin: auto;
  margin-bottom: 15px;
  clear: both;
  border: thin gray solid;
  background-color: #ecebd9;

}

.jumbotron p{
  font-size: 12px;
}

img{
  vertical-align: middle;
  height: 200px;
  width: 250px;
  margin-left: 40px;
  border: thin black solid;
}

.img-wrapper{
  width: 25%;
  float: left;
}

.text-wrapper{
  margin-top: -230px;
  width: 73%;
  float: right;
  clear: left;
}

.red{
  color: #B74F4E;
}

.comment-form{
  margin-bottom: 15px;
  margin-right: 100px;
  margin-left: 100px;
  margin-left: 27%;

}

.show-comments{
  clear: both;
  margin-left: 27%;
  margin-bottom: -30px
}

.green{
  color: #6B8B4A;
}

.desc{
  margin-right: 45px
}

.add-form{
  background-color:#F8F8F8;
  width: 95%;
  margin: auto;
  padding: 15px;
  border-radius: 0 0 10px 10px;
  margin-bottom: 30px;
  margin-top: -20px;
}

.bold{
  font-weight: bold;
}

.comments{
  font-size: 14px;
  font-weight: 400;
}

.sort-bar{
  margin-top: 15px;
  color: grey;
}

.sorty{
  background-color: #EEEEEE;
  border: none;
}

